body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.col {
  background-color: hsl(0, 0%, 12%);
  text-align: center;
  width: 20%;
  max-width: 600px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
  padding: 15px 0;
}

.prof-img img {
  width: 60px;
  border-radius: 50%;
}

h1 {
  font-size: 20px;
  margin-bottom: 0;
}

h2 {
  color: hsl(75, 94%, 57%);
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 30px;
}

p {
  color: gray;
  font-size: 10px;
  margin-bottom: 25px;
}

.social-media {
  width: 220px;
  background-color: hsl(0, 0%, 20%);
  border-radius: 5px;
  margin: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
